<section>
    <h2>Autor del Blog:</h2>
    <p>Andrés Gil Oliva</p>
    <div>Nacido el 10 de Mayo del 2000</div>
    <img src="/images/foto.jpg" width="500"/>
    <div>Andrés Gil es un alumno  de la ETSIT que está cursando CORE</div>
</section>