<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<section>
  <h1>Bienvenidos al Blog!</h1>
  <p>Este es mi espacio, y aqui está el desarrollo de la P6 de CORE</p>
</section>
