<section>
    <h2>Editar Usuario:</h2>
    <form method="post" action="/users/<%= user.id %>?_method=PUT">
        <%- include('_form.ejs') %>
        <input type="submit" value="Save" onclick="return validPassword()" class="button-2">
    </form>
</section>