<section> <!--Formulario basico html -->
    <div class="inputOption">
        <input type="text" id="title" name="title">
    </div>
    <div class="inputOption">
        <textarea id="body" name="body"></textarea>
    </div>
    <div class="inputOption">
        <input type="file" id="image" name="image">
    </div>
    <input type="submit" name="enviar" id="enviar" value="Enviar Post" class="button-2"> <!-- Boton importantisimo para subir la info-->
</section>